textarea{
  min-width: 500px;
  field-sizing: content;
}

mat-dialog-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
}

mat-form-field{
  min-width: 200px;
}

@media(width < 500px){
  mat-dialog-content{
    grid-template-columns: 1fr;
  }
}