#container{
  height: 100%;
  display: grid;
  background-color: var(--mat-sys-background);
  mat-card{
    margin: auto;
    padding: 40px;
    text-align: center;
  }
}

@media (width < 720px){
  mat-card{
    height: 100%;
    width: 100%;
  }
}